* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.worker {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 70px;
  gap: 25px;

  &__logo {
    img {
      width: 100px;
      height: 100px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    Button {
      background-color: #3782ec;
      border: none;
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;

    .description {
      cursor: pointer;
      width: 280px;
      height: 350px;
      border: 1px solid gray;
      border-radius: 15px;
      background-color: rgb(237, 235, 247);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;

      img {
        width: 100%;
        height: 290px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      h4 {
        text-align: center;
        color: #111110;
        font-weight: bold;
        //font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        letter-spacing: 0.1em;
        margin-top: 5px;
      }
      h5 {
        text-align: center;
      }
    }
  }
}

.details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;

  &__card {
    width: 650px;
    margin: 0 auto;
    height: 250px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: #f3ede7;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    img {
      width: 400px;
      height: 100%;
      border-bottom-left-radius: 15px;
      border-top-left-radius: 15px;
    }
    .info {
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      font-size: 20px;
    }
  }

  &__work {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
  }
}
.trabajos{
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
  display: flex;
justify-content: space-between;
img{
  width: 300px;
  height: 250px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
  rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
}
